@import "../variables";

#menu-appbar {
  top: 40px;
}

.app-bar {
  transition: $transition-all;
  backdrop-filter: blur(15px);

  .nav-end {
    display: flex;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.link-column {
  display: flex;
  flex-grow: 1;
  column-gap: 15px;
}

@media screen and (max-width: 480px) {
  .mobile-hide {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .desktop-hide {
    display: none !important;
  }
}
